@model IEnumerable<BentoLab.Models.Korisnik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImePrezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lozinka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uloga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uloga)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KorisnikID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KorisnikID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KorisnikID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
