@model IEnumerable<BentoLab.Models.StavkaNarudzbe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CijenaStavke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Narudzba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Torta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaStavke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Narudzba.NarudzbaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Torta.TortaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StavkaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StavkaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StavkaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
